html,
body {
    background-color: #D5D5D5;
}
body {
    padding-top: 50px;
}
.title > div {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #f0ad4e;
}
.text {
    font-size: 18px;
}
.container {
    background-color: #fff;
    padding: 50px;
}
